.divv {
    display:flex;
    justify-content: center;
    align-items: center;
}

.Bbutton {
    font-size: 1.2em;
    margin-top: 1.5rem;
    font-weight: normal;
    background-color: var(--color-primary);
    color: white;
    padding: 0.8rem;
    width: 18%;
    border-radius: 1.8rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

