:root{
    --color-inavtive-text: #93919F;
    --color-title: #b8b3d4;
    --color-primary: #5C35F7;
}

/*.header, .detail{
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr) 2fr;
}*/


.Bu{
    display: flex;
    justify-content: center;
}

.divv {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.Bbutton {
    font-size: 1.2em;
    margin-top: 1.5rem;
    font-weight: normal;
    background-color: var(--color-primary);
    color: white;
    padding: 0.8rem;
    width: 18%;
    border-radius: 1.8rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    outline: none;
}


.Sbutton {
    font-size: 1.2em;
    margin-top: 1.5rem;
    font-weight: normal;
    background-color: rgb(238, 34, 85);
    color: white;
    padding: 0.8rem;
    width: 18%;
    border-radius: 1.8rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    outline: none;
}



.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    color: var(--color-title);
    margin: 1.5rem 0 0.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header
div:first-child{
    margin-left: 2rem;
}
.header
div:last-child{
    margin-right: 3.3rem;
}


.detail{
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px #00000014;
    border-radius: 10px;
    height: 2.0rem;
    padding: 0.8rem;
    display: flex;
    justify-content: space-around
}
.detail li{
    list-style:none;
}

#BPonto{
    font-size: 1.5em;
    font-weight: normal;
    background-color: var(--color-primary);
    color: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#entrada{
    margin-left: 7rem;
}

#saida{
    margin-right: 6.3rem;
}

#Hentrada{
    margin-left: 8.5rem;
}

#Hsaida{
    margin-right: 9.2rem;
}

